{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}
    <h2>Добро пожаловать на сайт {{caption}}!</h1>
    <h3>Роберт Хаас</h3>
        <h5>Вице-президент, главный специалист по базам данных EnterpriseDB</h5>
        <h4>Семинар по взлому PostgreSQL — август 2024 г.</h4>
<p>Я рад возможности официально объявить о проведении семинара по хакингу PostgreSQL, а также о наших первых двух темах, которые запланированы на август и сентябрь 2024 года.

Вот концепция: сначала вы смотрите видео. Затем вы можете зарегистрироваться для участия в звонке Zoom, целью которого является обсуждение видео. Звонок Zoom не будет презентацией , и мы не будем смотреть видео во время звонка Zoom . Сначала вам нужно посмотреть видео, а затем подготовиться к обсуждению с другими людьми, которые (надеюсь) также посмотрели видео. Если вы приходите на звонок без вопросов и комментариев, вы делаете это неправильно!
Мы провели голосование в PostgreSQL Mentoring Discord, чтобы выбрать тему для первого доклада (см. здесь запрос, который даст вам ссылку для присоединения). Поскольку два лучших доклада были очень близки по общему количеству голосов, я решил, что мы рассмотрим оба, один в августе, а другой в сентябре.
</p>
<h5>Август 2024 г.: Роберт Хаас, CMU Database Group, PostgreSQL Optimizer Methodology</h5>
{% endblock %}