{% extends 'main/layoute.html' %}

{% block title %}
    <title>Вторая страничка</title>
{% endblock %}

{% block content%}
    <h4>Это вторая страница сайта по уроку номер 2</h4>
<h5> Чтобы зарегистрироваться на августовское обсуждение PostgreSQL Optimizer Methodology , используйте эту форму.</h5>
<p>Чтобы попытаться охватить как можно больше людей, я запланировал три сессии, которые пройдут в разное время дня, в разные дни недели и в разные недели (подробности см. в форме). Тем не менее, чтобы каждое обсуждение было разумным по размеру, общее количество мест ограничено. Из уважения к моему времени и времени других участников и участников, пожалуйста, не регистрируйтесь, если вы не собираетесь смотреть видео, присутствовать на звонке и участвовать в обсуждении. </p>
<h4>Если вы хотите зарегистрироваться, сделайте это не позднее четверга, 1 августа.</h4>
{% endblock %}